:root{
    --theme-color:white;
    --primary-color: #1D0199;
    --secondary-color:#F4F1FE;
    --terciry-color: #011DFF;
    --gradient-color: linear-gradient(100deg, rgba(1, 29, 255, 1) 0%, rgba(29, 1, 153, 1) 100%);
    --text-color-inverse:white;
    --text-color:black;
    --menu-mobile-background-color:var(--primary-color);
    --menu-teal-background-color: var(--primary-color);
    --gradient-color-foot: var(--gradient-color);
    
    --accent-color: var(--primary-color);
    --primary-color-inverse: black;

    --navbar-shadow: 0 4px 5px #e5e5e5;
    --tag-shadow: 0 4px 10px rgba(0, 0,0, 0.25);
    --transition: 0.2s ease-in-out;
    color-scheme: light;
}

/*@media (prefers-color-scheme: dark){*/
:root[data-theme="dark"]{
    --theme-color:#111827;
    --primary-color:#110059;
    --secondary-color:#E0D9FF;
    --terciry-color: #ffffff;
    --gradient-color:rgba(255, 255, 255, 0.89);
    --text-color-inverse:var(--text-color);
    --text-color:rgba(255,255,255, 0.87);
    --menu-mobile-background-color:#0f172a;
    --gradient-color-foot: var(--theme-color);

    --accent-color: var(--secondary-color);
    --navbar-shadow: 0 1px rgba(51, 65, 85, 0.8);
    --tag-shadow: 0 0 0 1px #ffffff;
    color-scheme: dark;
}
/*}*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form{
    color-scheme: light;
}

*{
    transition: background-color var(--transition), box-shadow var(--transition);
}

svg{
    transition: color var(--transition);
}

html {
    scroll-behavior: smooth;
}


section[id] {
    scroll-margin-top: 70px;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 70px;
}

a{
    text-decoration: none;
    color: var(--text-color);
}


.horizontal-padding {
    padding-left: 25px;
    padding-right: 25px;
}


.vertical-padding {
    padding-top: 25px;
    padding-bottom: 25px;

}


@media (min-width: 950px) {
    .horizontal-padding {
        padding-left: 70px;
        padding-right: 70px;
    }
    
    
    .vertical-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    
    }
}