/* Slider */
.slider-container {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-out;
}

/* Projects Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  margin-top: 1.5rem;
}

.projects-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
}

.project-card {
  background: var(--bg-card);
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  position: relative;
  text-align: justify;
  transition: all 0.3s ease-out;
}

.project-image{
  width: 100%;
  height: 40%;
}
.project-image img {
  width: 100%;
  height: 100%;
  border-radius: 2%;
  transition: transform 0.3s ease;
}

.project-card:hover .project-image {
  transform: scale(1.08);
}

.project-card:hover {
  transform: translateY(-5px);
  border: 1px solid var(--primary-color);
  box-shadow: var(--shadow-lg);
  cursor: pointer;
}

.project-card:hover .card-btn {
  opacity: 1;
  visibility: visible;
}

.project-title {
  color: var(--text-color);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
  gap: 1rem;

  font-size: 18px;
  font-weight: 500;
}

.project-description{
  color: var(--text-color);
  justify-content: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5rem;
}


.card-btn {
  background: var(--gradient-color);
  color: var(--btn-secondary);
  border-radius: 50%;
  padding: 0.75rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.3s ease, 
  opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.card-btn:hover {
  background: var(--primary-color);
}

.card-btn i {
  display: block;
}

.project-info {
  padding: 0.8rem;
}

@media (min-width: 950px){
  .projects-title {
    font-size: 50px;
  }
  
  .project-title {
    font-size: 20px;
  }
  
  .project-description{
    font-size: 18px;
  }
  
}

@media (max-width: 768px) {

  .project-info {
    padding: 0.6rem;
  }
}