.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.proyect-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: var(--text-color);
}

.card {
  background: var(--theme-color);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  position: relative;
  text-align: justify;
  transition: transform 0.3s ease;
}

.card-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.card:hover .card-image {
  transform: scale(1.08);
}

.card:hover {
  transform: translateY(-5px);
  border: 1px solid var(--terciry-color);
  cursor: pointer;
}

.card:hover .card-btn {
  opacity: 1;
  visibility: visible;
}

.card-title {
  color: var(--text-color);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
  gap: 1rem;
}

.card-description{
  color: var(--text-color);
  justify-content: center;
}


.card-btn {
  background: var(--gradient-color);
  color: var(--theme-color);
  border-radius: 50%;
  padding: 0.75rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.3s ease, 
  opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.card-btn:hover {
  background: var(--terciry-color);
}

.card-btn i {
  display: block;
}


@media (max-width: 768px) {
  .grid {
      grid-template-columns: 1fr;
  }
}