.skills {
    max-width: 1200px;
    margin: 0 auto;
}


.skills-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


/* Skills Grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin-top: 1.5rem;
}

.skills-card {
    text-align: center;
    padding: 1rem;
    background: var(--bg-card);
    border-radius: 16px;
    border: 1px solid var(--border-color);
    transition: all 0.3s ease-out;
}

.skills-card:hover{
    transform: translateY(-5px);
    border-color: var(--primary-color);
}

.skills-card i {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.skills-name{
    font-size: 1.2em;

}

@media (min-width: 950px) {
    .skills-title {
        font-size: 50px;
        
    }

    .skills-card i {
        font-size: 2.5rem;
    }
    
    .skills-name{
        font-size: 1.4em;
    
    }

}